import React, { Component } from 'react';

// imports

class {{pascalCase name}} extends Component {

constructor(props) {
super(props);
this.state = {};
}

render() {
return <div>{{pascalCase name}}</div>;
}
}

export default {{pascalCase name}};